

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

h3 {
    font-weight: 300;
    color: lightgrey;
}
h4 {font-weight: 300;}
h2 {
    font-size: 30;
}

main {
    height: 72.5%;
    width: 60%;
    position: absolute;
    top: 25%;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 0.65%;
    padding-top: 1%;
}
main h2 {
    margin-top: 0px;
}
main .homepic {
    overflow: hidden;
    width: 100%;
    max-height: 40rem;
    border-radius: 8px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 8px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

header {
    margin: 0 auto;
    position: fixed;
    padding: 1rem;
    width: 60%;
    z-index: 10;
    background-color: white;
    height: 22.5%;
    box-shadow: 0 6px 4px -4px #555;
}

header h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 48;
}


nav {
    top: 15px;
    max-height: 3rem;
    display: flex;
    flex-wrap: nowrap;
}


nav li {
    display: inline-block;
    
    padding-right: 2rem;
}

nav li a
{
    color: rgb(48, 48, 48);
    text-decoration: none;
}

nav li a:hover {
    color: #555;
    font-size: large;
}

.card-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex: 1 0 200px;
    box-sizing: border-box;
    margin: 1rem .5em;
    flex-flow: column;
    border: 1px solid black;
    box-shadow: 2.5px 5px 10px #555;
    border-radius: 10px;
    padding: 0;
    flex-grow: 1;
    
    max-height: 20%;
}

.card img {
    object-fit: cover;
    display: block;
    width: 100%;
    min-height: 40%;
    max-height: 50%;
    border-radius: 8px 8px 0 0;   
}

.card .card-content {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    top: 40%;
    padding: 1em;
    
}

.card .card-content h1{
    font-size: 24px;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    max-height: 1rem;
}



.card:hover {
    box-shadow: 7.5px 10px 10px #555;
}



@media screen and (min-width: 40em) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
   }
 
    .card {
        flex: 0 1 calc(50% - 1em);
        max-width: calc(50% -  1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card-container {
   }
     
    .card {
        flex: 0 1 calc(25% - 1em);
        max-width: calc(25% - 1em);
     }
}
 
 
@media screen and (min-width: 52em) {
    .main {
        
    }
}