{% extends "base.html" %} 
{% block title %}Emner{% endblock %} 
{% block content %}
<h2>Emner</h2>
<div class="card-container">
<!--HTML CSS Emner-->    
<div class="card">
    <img class="" src="{{url_for('static', filename='img/html-css-js.jpg')}}" alt="card picture">

    <div class="card-content">
        <h1>Hjemmesider</h1>
        <p>Første emne vi havde om var Hjemmesider, som omhandlede 
            hovedsprogene HTML, CSS og en lille smule JS</p>
    </div>

</div>


<div class="card" onclick="location.href='/emner/laeringsspil';">
<img class="" src="{{url_for('static', filename='img/tal-spil.png')}}" alt="card picture">
    <div class="card-content">
        <h1>Læringsspil</h1>
        <p>Vi skulle lave et læringsspil, med Scratch, til første klassere, og følge en iterativ udviklings metode.</p>
    </div>
</div>
<div class="card" onclick="location.href='/emner/laeringsspil';">
    <img class="" src="{{url_for('static', filename='img/profile.png')}}" alt="card picture">
</div>
<div class="card">
    <img class="" src="{{url_for('static', filename='img/profile.png')}}" alt="card picture">
</div>
<div class="card">
    <img class="" src="{{url_for('static', filename='img/profile.png')}}" alt="card picture">
    </div>
    <div class="card">
        <img class="" src="{{url_for('static', filename='img/html-css-js.jpg')}}" alt="card picture">
    
        <div class="card-content">
            <h1>Hjemmesider</h1>
            <p>Første emne vi havde om var Hjemmesider, som omhandlede 
                hovedsprogene HTML, CSS og en lille smule JS</p>
        </div>
    
    </div>
    <div class="card">
        <img class="" src="{{url_for('static', filename='img/profile.png')}}" alt="card picture">
    </div>
    <div class="card">
        <img class="" src="{{url_for('static', filename='img/profile.png')}}" alt="card picture">
    </div>
</div>
{% endblock %}
