{% extends "base.html" %} 
{% block title %}Emner{% endblock %} 
{% block content %}
<h2>Emner</h2>

<div class="card-container">

<!--HTML CSS Emner-->    
<div class="card" onclick="location.href='/emner/hjemmesider';">
    <img class="" src="{{url_for('static', filename='img/html-css-js.jpg')}}" alt="card picture">

    <div class="card-content">
        <h1>Hjemmesider</h1>
        <p>Første emne vi havde om var Hjemmesider, som omhandlede 
            hovedsprogene HTML, CSS og en lille smule JS</p>
    </div>

</div>


<div class="card" onclick="location.href='/emner/laeringsspil';">
<img class="" src="{{url_for('static', filename='img/tal-spil.png')}}" alt="card picture">
    <div class="card-content">
        <h1>Læringsspil</h1>
        <p>Vi skulle lave et læringsspil, med Scratch, til første klassere, og følge en iterativ udviklings metode</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/aarsprove';">
    <img class="" src="{{url_for('static', filename='img/corona-side.png')}}" alt="card picture">
    <div class="card-content">
        <h1>Corona Hjemmeside</h1>
        <p>Til årsprøven i 2.G, skulle vi lave en hjemmeside der viste noget data over corona</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/arduino_tog'">
    <img class="" src="{{url_for('static', filename='img/modeltog-thumb.jfif')}}" alt="card picture">
    <div class="card-content">
        <h1>Tog Projekt</h1>
        <p>Vi skulle ud til KEA og programmere et tog til at køre på en bane ved hjælp af en arduino og binærkode</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/arduino_projekt'">
    <img class="" src="{{url_for('static', filename='img/arduino_projekt.png')}}" alt="card picture">
    <div class="card-content">
        <h1>Arduino Projekt</h1>
        <p>Opgaven var at vi skulle lave noget med en arduino, hvor min gruppe og jeg valgte at lave en skærm der kan oversætte morsekode</p>
    </div>
</div>

<div class="card" onclick="location.href='https://www.instructables.com/how-to-build-a-BEAM-symet/'">
    <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.pqwD1DTOpdqb_PZgf8ESBQHaEK%26pid%3DApi&f=1" alt="card picture">
    <div class="card-content">
        <h1>Beamrobot</h1>
        <p>Her lavede vi "JunkBots"</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/big_data'">
    <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.QTUyL5UtbQf7BYkAltKQOgHaE2%26pid%3DApi&f=1" alt="card picture">
    <div class="card-content">
        <h1>Big Data</h1>
        <p>Vi skulle lære om big data og skrive vores egen artikel, som skulle beskrive et selvvalgt emne ud fra "The Big Five" og argumentere for hvorfor dette område vil være egnet til udnyttelse af Big Data</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/corona_app'">
    <img class="" src="{{url_for('static', filename='img/corona_app.png')}}" alt="card picture">
    <div class="card-content">
        <h1>Corona App</h1>
        <p>Vi skulle lave en ide til en smittesporingsapp, hvor vi også tog nogle af de dilemmaer imente, som der kunne være</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/databaser'">
    <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.IYCF81QCCE15p552ESrboQHaFj%26pid%3DApi&f=1" alt="card picture">
    <div class="card-content">
        <h1>Databaser</h1>
        <p>Her lærte vi om SQL og PHP, og lavede vores egne relationsdatabaser, både med Microsoft Acces og MySQL</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/HMI'">
    <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.OYXcZvW0TFKLKArMMoS88QHaHa%26pid%3DApi&f=1" alt="card picture">
    <div class="card-content">
        <h1>HMI</h1>
        <p>Vi skulle i grupper lave et meningsfyldt HMI. Her valgte vi så at bruge en <a href="https://developer.leapmotion.com/" target="_blank" >Leap Motion</a> til at lave en smart controller til PowerPoint</p>
    </div>
</div>

<div class="card" onclick="location.href='/emner/prolog'">
    <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.C8qFpMM2odVngnlm0Zxn3AHaGG%26pid%3DApi&f=1" alt="card picture">
    <div class="card-content">
        <h1>Prolog</h1>
        <p>Her har vi lært om programmeringssproget "Prolog," og min gruppe og jeg har dykket ned i et program der løser en sudoku, og måden man kan bruge programmet til at lave en ny sudoku</p>
    </div>
</div>

</div>
{% endblock %}
